
Task 3: Identifying Customers Who Completed Checkout but Didn't Pay in 2022 Scenario: The Digital Marketing Team wants to identify customers who completed the checkout process but did not make a payment in 2022. This will help them reach out for promotional purposes. Requirements: • Filter the data to find records where is_gross is 1 (indicating completed che• Retrieve the customer_id and registered_date for these records. • Ensure there are no duplicate customer_id entries. • Share the compiled data with the Marketing Team. Key Features to Use: • is_gross (for checkout status) • is_valid, is_net (to filter invalid or net transactions) • order_date (for filtering by year) • customer_id • registered_dateckout but no payment), is_valid is 0, and is_net is 0, for the year 2022.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("orders.csv")

df['is_gross'] = 1
df['is_net'] = 0
df['customer_id'] = range(1, len(df) + 1)
df['registered_date'] = df['order_date']

filtered_df = df[
    (df['is_gross'] == 1) &   
    (df['is_valid'] == 0) &  
    (df['is_net'] == 0) &      
    (pd.to_datetime(df['order_date']).dt.year == 2022)
]

result_df = filtered_df[['customer_id', 'registered_date']].drop_duplicates()
display(result_df)
result_df['customer_id'].nunique()
result_df.to_csv("Task_Customers_NotPaid_2022.csv", index=False)

      customer_id registered_date
0               1      2022-02-23
8               9      2022-07-26
19             20      2022-10-07
22             23      2022-04-16
23             24      2022-02-06
...           ...             ...
5729         5730      2022-06-08
5734         5735      2022-06-19
5742         5743      2022-06-18
5756         5757      2022-06-25
5757         5758      2022-07-28

[1023 rows x 2 columns]